[2012-10-19 19:41] shimondoodkin opened #2 "maybe someone can make a javascript version of emd (to be used in node.js)"

[2014-06-18 10:32] asiv21 opened #3 "Regarding Intrinsic Mode Function estimation for pulse-type time series"
Hi,
First I am really thankful for your code, it has solved a lot of problems, given that no package exists for EMD in python.

The issue I am having currently is that my time series data when pre-processed yields a time series which is of the form of pulse train, where in consecutive elements are same for a few number of elements and then it shifts to another value.
Ex: [1 1 1 1 0 0 0 2 2 2 2 -1

[2014-06-19 09:42] t3476 opened #4 "Local maximum and local minimum by spline"
I reviewed your codes and thought that local maximum and local minimum should be spline function's  local maximum and local minimum , not array index nor array value of original data unless the samples of signal is dense enough for this.
your original code is faster but rough solution.
I'll add another option on the function if you agree.

[2015-01-04 12:46] jasonji84 opened #6 "problem with emd function in EMD.py."
When the size of data is even number, emd function can run correctly. If the size is odd number, the emd function cannot  run.  I run the default configure.

Here are the error information

signals[0:base / 2, 0] = data[::-1][base / 2:]
ValueError: could not broadcast input array from shape (2039) into shape (2038)

By the way, I test the matlab emd, which can handle any size of data.

[2015-03-19 07:20] jaidevd commented on #6
Thanks for pointing this out. I'll look into it.

[2015-04-11 14:31] zaccharieramzi opened #7 "Write a tutorial."
Hi,

First of all thank you very much for providing such a package.
I'm currently working on EEG signals and wanted to try the EMD method to classify them.
So my data is an array of time series. I want to have the imfs of each time serie so I use the tutorial.emd function but it sometimes (I mean on some time series) returns me an error of type "TypeError: m > k must hold" which I don't understand

[2015-04-12 14:02] jaidevd commented on #7
Hi @zaccharieramzi

Thanks for your interest in pyhht. The tutorial.py script is not a real tutorial Sorry for the confusion. I 've just renamed it. It's just a bunch of functions that I used long back in a presentation. There will soon be a detailed tutorial, which will showcase the usage and features of pyhht properly.

Thanks again.

[2015-05-07 15:57] jaidevd opened #8 "Use definition of residue for testing"
Testing monotonicity is a bad way of testing the residual output. Much better to just use the classic definition of the residue from the original paper.

[2015-05-07 16:00] #2 closed

[2015-05-09 01:39] jaidevd commented on #8
Closed by cba64f260ee1341b34ba3869b83d2893f6d95e3b

[2015-05-09 01:39] #8 closed

[2015-06-11 22:36] ghost opened #10 "Hilbert transform?"
Hi! I'm also writing a HHT implementation in Julia, as part of an article. Have you found any decent and clear implementations of the Hilbert transform?

https://github.com/nutschig/hilbert-huang-transform

[2015-06-13 07:58] jaidevd commented on #10
Hi Nick,

The Hilbert transform implementation that I've used comes with the standard
SciPy library.

BTW, what article is this? Would it be possible for you to make it
available?

[2015-06-14 08:27] jaidevd commented on #10
@nutschig

After going through the Julia docs, it seems like Julia doesn't have a Hilbert transform at all. However, I've seen the source code of the Hilbert transform in SciPy, and it seems straightforward enough to implement. I'll give it a shot and let you know.

[2015-06-14 10:33] jaidevd commented on #10
@nutschig I've tried to make a crude Hilbert implementation in Julia based on SciPy. You can see it here - https://github.com/jaidevd/hht.jl/blob/master/hht.jl

With this, you can perform a Hilbert transform as follows:

[code]

This produces the following plot -
![figure_1](https://cloud.githubusercontent.com/assets/1250388/8148213/f0cc8d62-12ae-11e5-99ff-7e0e6187d01f.png)

[2015-06-14 10:33] #10 closed, assigned to nobody

[2015-06-14 15:55] ghost commented on #10
@jaidevd

Jaidev,

Thank you! The article is just a jupyter notebook that I'll post to Hacker News. I'm developing it at https://github.com/nutschig/hilbert-huang-transform , and I'll credit you for the Hilbert transform! I just found the Fourier transform equations yesterday on the "Analytic signal" wiki article.

[2015-06-14 16:45] jaidevd commented on #4
Closing due to inactivity.

[2015-06-14 16:45] #4 closed

[2015-06-15 00:49] jaidevd opened #11 "Options for bivariate EMD"
The initialization and use of attributes of the EMD class that are used exclusively for bivariate EMD should be clearly separated from the other attributes.

[2015-06-17 14:30] jaidevd commented on #6
@jasonji84 The latest implementation of the EMD class solves this issue. Please check it out. You can use it as follows:

[code]

[2015-06-17 14:30] #6 closed

[2015-06-23 11:29] jaidevd opened #12 "Functions with local mean close to zero break the EMD"
Something like -
![download](https://cloud.githubusercontent.com/assets/1250388/8304930/faf92ffa-19c7-11e5-96b3-b82f47d8a6cd.png)

Which isn't an IMF, but has local mean close to zero, breaks the `EMD.decompose` method.

The signal can be expressed as -
![download 1](https://cloud.githubusercontent.com/assets/1250388/8305077/367df83e-19c9-11e5-82c9-dd8da287884b.png)

[2015-10-07 03:03] shawyun opened #13 ""ValueError: setting an array element with a sequence," and array size too big?"
I am coming across a specific error, "ValueError: setting an array element with a sequence." It shows up after the 2000th iteration, which I know is the set default. I tried changing the default number of iterations in the emd.py file for a quick fix, but it continues to just do 2000 iterations as a max.

My main issue is not the number of iterations, but rather why I am getting the error, "ValueE

[2015-10-07 14:38] jaidevd commented on #13
Thanks @shawyun, I'll take a look over the weekend.

[2015-10-07 23:40] shawyun commented on #13
Sounds good, let me know if there is a way I can help.

Best of Luck,
Shawyun

On Wed, Oct 7, 2015 at 4:38 AM, Jaidev Deshpande notifications@github.com
wrote:

[2016-01-15 06:10] jaidevd commented on #12
Turn this into a test.

[2016-01-15 06:41] #12 closed, assigned to jaidevd

[2016-01-16 05:24] jaidevd commented on #11
Probably should make this a subclass.

[2016-06-30 23:16] imcbrear commented on #13
Was this error ever solved? I seem to be running into the same issue...

Thanks,
Ian

[2016-07-01 06:10] jaidevd commented on #13
@shawyun @imcbrear I'm sorry, I totally forgot about this. I'll look into this now. So it seems to me that there are two issues here. Thanks, @imcbrear for bringing this back up.
1. We can't change the maximum number of iterations, the script just keeps doing 2000 iterations even if we want it to stop earlier.
2. When the sifting reaches the 2000th iteration, it throws the traceback:

[code]

Is t

[2016-07-02 02:04] imcbrear commented on #13
@jaidevd Hi thanks for getting back to me. Sure thing. Here's an example where the decomposition seems to work for a number of modes, but then fails. (On some other examples I did before, it would fail right away- not after a series of outputs..)

Obviously the problem might just be that this time series is too big (or have to much bandwidth?). But I wasn't aware whether or not your algorithms wer

[2016-07-02 06:38] jaidevd commented on #13
Perfect, I can reproduce the error. Thanks, @imcbrear

[2016-07-04 07:49] jaidevd commented on #13
Hi @imcbrear, @shawyun

The issue is fixed for now. I was a matter of incorrect array concatenation and bad stopping criteria for the sifting. You can pull the code from this branch: https://github.com/jaidevd/pyhht/tree/jd-fix-issue13,
install pyhht again, and it should work.

However, I'll be adding tests for avoiding such problems to the same branch over the next two days. And till then I inten

[2016-07-04 07:51] jaidevd opened #18 "Change default value of maxiter"
The default maximum iterations in sifting is set to 2000, but this should be inferred from the input data itself.

[2016-07-04 09:14] #13 closed, assigned to jaidevd

[2016-07-04 09:15] jaidevd commented on #13
@imcbrear @shawyun Please install from the dev branch and try again. The issue should be fixed.

[2016-07-05 21:45] imcbrear commented on #13
Thanks!

---

From: Jaidev Deshpande notifications@github.com
Sent: Monday, July 4, 2016 4:15:22 AM
To: jaidevd/pyhht
Cc: Ian McBrearty; Mention
Subject: Re: [jaidevd/pyhht] "ValueError: setting an array element with a sequence," and array size too big? (#13)

@imcbrearhttps://github.com/imcbrear @shawyunhttps://github.com/shawyun Please install from the dev branch and try again. The issue should

[2016-07-27 09:33] maurotoro opened #20 "Python3 and Docstrings"
Dear Jaidevd,

I'm interested on using your work and I really appreciate the effort that you took on making the library. I'm forking it to start using it, I did some minor changes on my branch to make it work on python3, still not everything tested, but it seems that adding parenthesis to the print statements is enough. Also, imports from the library needed to be pyhht.LIB2IMPORT, VG in emd.py the

[2016-07-27 09:44] jaidevd commented on #20
Hey @maurotoro
Thanks for you interest in PyHHT. Python 3 support would be awesome, and I'd be grateful if you could send a pull request.

Thanks!

[2016-07-27 10:09] maurotoro commented on #20
@jaidevd just sent the pull of my modification, as I told you, just small
details but it seems to be working.

I tested on:

[code]

Also tried some other signals and it does work as expected.

Thanks tof this!
Mucha Suerte!

On Wed, Jul 27, 2016 at 10:44 AM, Jaidev Deshpande <notifications@github.com

##

Mauricio Toro E.
INDP2015@CR.CCU.PT INDP2015@CNP.CCU.PT
Champalimaud Centre for the Unknown,

[2016-07-27 10:17] jaidevd commented on #20
Closed by jaidevd/pyhht#21

[2016-07-27 10:17] #20 closed, assigned to nobody

[2016-11-03 11:22] DowellChan opened #23 "Put EEMD and CEEMD into pyhht"
Hi, Jaidevd.  I am Dongwei Chen. It's nice to leave a message here. It's great to put EEMD and CEEMD into pyhht module successfully, which will contribute to python community. Thanks for your work!

[2016-11-24 08:18] jaidevd opened #26 "Add doctests"
The simpler examples should have doctests.

[2016-12-02 08:41] jaidevd commented on #26
Closed in https://github.com/jaidevd/pyhht/pull/27

[2016-12-02 08:41] #26 closed, assigned to jaidevd

[2017-05-16 08:29] zhengfangxin opened #29 "some data don't work"
### this code can't  work
[code]

[2017-05-26 12:01] jaidevd commented on #29
Thanks @zhengfangxin for the bug report. I'll look into it over the weekend. When I tried to reproduce this, I can only see the plot of the original signal, but no IMFs are plotted. Is that the problem you are facing?

[2017-06-01 13:12] LeilaK90 commented on #29
How i can  change the number of n_imfs for extract 15 imfs Please?

[2017-06-09 19:00] oxsem opened #31 "stop_sifting(m) and 'fixe' problem"
Hello,

whenever I'm trying to set fixed number of sifting ('fixe' parameter) OR when checking the stopping criteria for the current mode I get:
**TypeError: mean_and_amplitude() takes exactly 2 arguments (1 given)**

although I don't understands what am I doing wrong:

decomp_data = pyhht.emd.EMD(np.asarray(data))
decomp_data.stop_sifting(np.asarray(data))
OR
decomp_data = pyhht.emd.EMD(np.asarra

[2017-06-09 19:12] jaidevd commented on #31
Hi @oxsem,

Thanks for reporting this. Seems like a minor bug, but unfortunately I'm traveling right now and will be back on Monday. Will take a look at this soon after.

Thanks again .

[2017-06-15 03:17] stegben opened #32 "Plan to enhance the speed?"
Just curious if there're any plan to rewrite some module in Cython?

[2017-06-15 06:39] jaidevd commented on #32
Hi @stegben

There's nothing planned as such, but I think I should at least do a profiling / benchmarking of all the code. Currently the largest bottleneck is the spline interpolation. I don't think that can be made faster with Cython, since I'm using [`scipy.iterpolate.iterp1d`](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.interpolate.interp1d.html)

However, yes, there are m

[2017-06-19 14:03] jaidevd commented on #29
Hi @zhengfangxin
After some initial debugging it seems that the problem is because the signal is not well sampled. For undersampled signals (i.e. when the data between neighbouring indices varies too much), the envelop splines come up with too much energy, so much that they overwhelm the signal itself. PyHHT should have tools to deal with such data. One way would be to detect the undersampling bef

[2017-06-19 14:04] jaidevd commented on #29
@LeilaK90 When you create the `EMD` object, you can specify how many IMFs you want, like so:
[code]

[2017-06-20 15:30] oxsem commented on #31
Hello,
I wonder if there is any update on the issue above?
Thanks!

[2017-06-20 15:46] jaidevd commented on #31
Hi @oxsem,

Sorry, been somewhat busy at work. Give me till the weekend and I'll get this fixed.

Thanks.

[2017-06-21 07:58] #31 closed, assigned to nobody

[2017-06-21 08:12] jaidevd commented on #31
Hi @oxsem
Please pull from the latest update on the master branch, this should be fixed now. Thanks

[2017-06-22 07:58] jaidevd commented on #32
This is a simple line by line performance profiling of the module. There are clearly some avoidable bottlenecks. I'll check them out when over the weekend.
[profresults.txt](https://github.com/jaidevd/pyhht/files/1094031/profresults.txt)

[2017-06-22 17:54] woj-evan commented on #29
Hi @jaidevd,
I have been encountering the same problem where only the original signal is plotted, and nothing is shown for the IMFs as if they don't exist/weren't calculated at all. Following up on your comment about the sampling, do you have any other recommendations about fixing this issue without upsampling the raw data? Increasing the size of the input data is a step backwards in the process I

[2017-06-23 08:46] jaidevd commented on #29
Hi @ewojcie2
On further debugging I've realized that I was wrong. This has nothing to do with sampling rate. The interpolation problems are happening because by default, pyhht tries to extend the signal beyond its boundaries so as to make sure that the signal, even at its endpoints, lies fully within the envelopes. I'm going to try out a couple of ways of fixing this:
1. Make the extrapolation opt

[2017-06-23 12:37] jaidevd commented on #29
Sorry didn't mean to close just yet.

[2017-06-23 12:41] jaidevd opened #35 "Detect when nbsym is breaking the interpolation"
In signals like the one in #29 , PyHHT should automatically detect whether the mirrored symmetry of extrema is breaking the interpolation, and raise a warning.

[2017-06-23 12:48] jaidevd commented on #29
Hi @zhengfangxin and @ewojcie2
This should be fixed (https://github.com/jaidevd/pyhht/pull/34) now. Please pull from the master branch and try again as follows:
[code]
Note that setting the `nbsym` parameter to `False` is important for signals like this one.
Now I'm not sure what is it about this signal that is causing the sifting to break, but I've added a follow-up issue to investigate further (

[2017-06-23 12:48] #29 closed, assigned to nobody

[2017-06-23 13:31] woj-evan commented on #29
Hi agani @jaidevd
Thank you for the fast update, this seems to have fixed the issue with the data I was use. I'll keep testing with similar data sets and see if this fix works more generally. Your dedication is appreciated.

[2017-07-17 13:18] #35 closed, assigned to jaidevd

[2017-08-17 01:46] maihao14 opened #38 "how to produce more imfs?"
I try some seismic signal use this EMD  cannot yield same imfs solution as  emd in MATLAB
and I do not know why ?
Why this emd tool usually only produce 2 imfs component but emd in MATLAB can produce 8~9 imfs?

[2017-08-17 01:47] jaidevd commented on #38
This could either be a bug in pyhht, or there could be something wrong in the way in which you are using the EMD class. Can you show how you have used it?

[2017-08-17 02:51] maihao14 commented on #38
Code：
        decom = EMD(x)
        imfs = decom.decompose()

x is a matrix length 4501 and  run no problem in Matlab emd
and in  pyhht  it can not yield the same size imfs group as I expect
actually it can only produce 2 imfs or directly send error:
/Users/maihao/anaconda/lib/python3.6/site-packages/pyhht-0.0.1-py3.6.egg/pyhht/emd.py:292: RuntimeWarning: invalid value encountered in greater

[2017-08-17 03:02] jaidevd commented on #38
Can you try the following:
[code]
And tell me what happens?

[2017-08-17 03:06] maihao14 commented on #38
run console send:
/Users/maihao/anaconda/lib/python3.6/site-packages/pyhht-0.0.1-py3.6.egg/pyhht/emd.py:292: RuntimeWarning: invalid value encountered in greater
/Users/maihao/anaconda/lib/python3.6/site-packages/pyhht-0.0.1-py3.6.egg/pyhht/emd.py:293: RuntimeWarning: invalid value encountered in greater
/Users/maihao/anaconda/lib/python3.6/site-packages/pyhht-0.0.1-py3.6.egg/pyhht/utils.py:235: R

[2017-08-17 03:11] maihao14 commented on #38
and it's strange that  I have 30 different series samples of x (seismic data)
some of them  can run correctly and have 8 imfs  components but others cannot
In Matlab emd all of them work successfully
and I noticed that  the imfs I get  between emd in Matlab and  pyhht seem not the same

[2017-08-17 03:14] jaidevd commented on #38
Okay, this seems to be a bug. Can you share some of the samples that are
showing incorrect number of IMFs?

On Thu, Aug 17, 2017, 08:41 Mai <notifications@github.com> wrote:

[2017-08-17 03:18] maihao14 commented on #38
OK Thanks  I will send sample data to your email later

[2017-08-17 12:17] jaidevd commented on #38
Hi @maihao14
I checked with the samples you sent, and it seems to be working fine. Here are the IMFs I'm getting for data1.npy and data2.npy respectively.

`data1.npy`
![data1](https://user-images.githubusercontent.com/1250388/29411708-9d0eab5a-8373-11e7-9415-1a9e6bb92618.png)
`data2.npy`
![data2](https://user-images.githubusercontent.com/1250388/29411711-9f4c0af2-8373-11e7-842c-33b83ef857fd.png)

[2017-08-17 15:29] maihao14 commented on #38
I use git clone to update pyhht and then test all 30 samples
all of them working !!!
Thank you for your help!  I guess maybe I get older version of pyhht  via  conda install pyhht
Thanks again and best wishes!

[2017-08-19 04:08] #38 closed, assigned to nobody

[2018-01-31 21:16] maciekKolbusz opened #41 "Add a parameter to set the type of interpolation for calculating the envelopes"
I think it may be useful to have a choice of the interpolation method for obtaining envelopes and include ie. quadratic, linear etc. in addition to the cubic spline, because in some situations it could be interesting to see how the results of the decomposition depend on the chosen interpolation method.

[2018-02-01 12:30] jaidevd commented on #41
Sure, we could expose the interpolation to the user.

But I wonder what this will really achieve. The cubic spline was chosen by Huang et al for a very specific reason, that it is smooth everywhere and almost always envelops the signal, ensuring that the IMFs are purely amplitude / frequency modulated. I'm pretty sure the results won't be physically meaningful if you use, say, a linear interpolant

[2018-02-01 14:16] maciekKolbusz commented on #41
It is true that cubic spline produces smooth fits, but in some cases, ie. when there are sharp spikes in the input signal, the envelopes tend to go their own ways and do not stick to the signal, because they are overly smooth in places. I believe (but haven't proven it yet) that this may be adding to the end-point effect and detrend uncertainty.

[2018-02-01 14:27] jaidevd commented on #41
Very interesting, could you share an example whenever you can?

[2018-02-03 15:18] maciekKolbusz commented on #41
Have a look at this slice of the plot, where the upper envelope formed a peak where there was actually a local dip:
![cubic-spline1](https://user-images.githubusercontent.com/5930452/35768371-ec8db90c-08fa-11e8-9abb-2bd0af4c87c4.png)

The signal was the price of the stock and the envelope was generated with pandas.Series.interpolate() over the extrema located with scipy.signal.argrelmax().

Here's

[2018-06-12 17:02] WRAR891 opened #42 "Force stopping for complex signals"
Hi,

I'd really like to try your package, but there seems to be a problem handling complex valued inputs. I created several (simple) complex signals, and for each I receive:
Force stopping EMD: amplitude too small.

example code:
n = 1000
fc = 0.25
t = np.linspace(0, 1, n)
x = np.exp(2.0j * np.pi * fc * t)

X = np.fft.fftshift(np.fft.fft(x))
X /= np.max(X)
plt.plot(np.linspace(-0.5, 0.5, len(X)),

[2018-06-12 17:05] jaidevd commented on #42
Hi @Wrar891

This is strange. The `is_mode_complex` method was made precisely to deal with such signals. Thanks for reporting this. I'll check it out in a couple of days.

Thanks

[2018-06-12 17:21] hbake001 opened #43 "Instantaneous frequencies are not consistent with the plot of HHT"
I calculated the IMFs using pyhht then I extracted the instantaneous frequencies using the method in this package. The values that I always got were 100 and 200 Hz regardless of which IMF I used. After that, I switched to Matlab and I plotted the Hilbert space using the IMFs I got from this package, but it gave me different (more reasonable) results as shown below. Why is that happening?

![image]

[2018-06-12 17:29] WRAR891 commented on #42
Thanks,
Much appreciated!
For what it's worth, I'm using Python 2.7. Can't see how that would cause it...

[2018-06-12 19:30] WRAR891 commented on #43
I, too, have questions about how to interpret the results of utils.inst_freq(). I tried

f, ts = utils.inst_freq(np.sin(2.0 * np.pi *10.0 *  t))
plt.xlabel('Ts')
plt.ylabel('Freq')
plt.plot(ts, f)
plt.show()

and get an unexpected result. Clearly, the inst. freq should be a constant value for this. Is there some usage detail that is being overlooked?

![figure_1](https://user-images.githubusercont

[2018-06-13 00:54] JuiceLemonLemon opened #44 "bivariate EMD has some bugs"
Hello, when I applied the code to complex list for bivariate EMD, the result is not cosistent with matlab's.

[2018-06-14 13:29] jaidevd commented on #44
Thanks, @Orangeyzao for pointing this out, as I work on #42, I am realizing that the bivariate framework will require some debugging and improvement. I'll update here when it is fixed.

[2018-06-15 16:04] hbake001 commented on #43
@WRAR891 I think it's a major bug in this package. Waiting the confirmation from the author

[2018-06-15 16:18] jaidevd commented on #43
Thanks for pointing this out, @hbake001 and @WRAR891

This implementation of instantaneous frequency detection was adapted from the MATLAB toolbox for time frequency analysis - http://tftb.nongnu.org/

I don't think it is meant to work with IMFs at all, since the definition of the instantaneous frequency of an IMF is the derivative of the arctan of the Hilbert transform of the IMF. I'll dig deeper

[2018-06-18 14:05] jaidevd commented on #44
Hi @Orangeyzao,

Can you please re-install pyhht from the latest dev branch and check the bivariate EMD again?
Please note that it is no longer necessary to specify the `is_mode_complex` option in the `EMD` class. It will automatically be inferred from the input provided. If the input signal has any non-zero imaginary component, EMD will automatically be bivariate.

Please let me know if this work

[2018-06-18 14:37] jaidevd commented on #42
Hi @WRAR891

Can you please re-install from the latest dev branch and try this example again? Note that you don't have to specify `is_mode_complex` anymore, it will be automatically set if the input has any nonzero imaginary components.

Also, in this particular example, the input is only a quarter of a sinusoid, so you should get the same signal back as the IMF. Complex / Bivariate EMD in general

[2018-06-18 14:41] jaidevd commented on #43
Hi @hbake001 @WRAR891

I'm able to reproduce this and this is indeed a bug in the instantaneous frequency estimation. @WRAR891 in your example, the input is not an analytic signal, and those are required for instantaneous frequencies to be well defined. Converting your signal into an analytic one with the [`scipy.signal.hilbert`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.hi

[2018-06-18 15:34] WRAR891 commented on #42
Thanks for the effort. So the EMD does seem to return values not for complex-valued inputs. I'll work it a bit and let you know If I expose any other issues or suspect a problem.

[2018-06-18 15:41] WRAR891 commented on #42
Just noticed a Typo on last comment, it should read:
... So the EMD does seem to return values for complex-valued inputs...

[2018-06-18 17:31] WRAR891 commented on #42
jaidevd,

I'm not completely certain that EMD is working 100% correctly for complex-valued inputs. Taking an example from your tutorial:

t = np.linspace(0, 1, 1000)
modes = np.sin(2 * np.pi * 5 * t) + np.sin(2 * np.pi * 10 * t)
x = modes + t

X = np.fft.fftshift(np.fft.fft(x))
X /= np.max(X)
plt.plot(np.linspace(-0.5, 0.5, len(X)), np.abs(X) ** 2)
plt.show()
![ex1a](https://user-images.githubuser

[2018-06-18 17:35] jaidevd commented on #42
@WRAR891 It seems like the first IMF in your example is the signal itself and everything else is negligible, that's clearly incorrect. I'll take a look tomorrow.

[2018-06-18 17:38] jaidevd commented on #42
Whoa! @WRAR891 I just understood the point, simply shifting the frequencies is resulting in hugely different IMFs. This is also a bug.

[2018-06-18 18:22] WRAR891 commented on #44
@jaidevd

Thinking about this a bit more, I'd expect the same modes as without the frequency translation, plus an additional mode at the frequency of the modulator (fc=0.1).

[2018-06-19 12:26] jaidevd commented on #43
@WRAR891 As I said earlier, the problem was the analyticity of the signal. Converting the input to an analytical signal seems to be giving reasonable, almost identical results in both MATLAB and pyhht. Here are the instantaneous frequency plots for your specific example,

MATLAB:
![matlab_inst_freq](https://user-images.githubusercontent.com/1250388/41597040-ef755972-73e9-11e8-88b3-d56175c54abe.jpg

[2018-06-19 12:44] jaidevd commented on #11
Closed in #45

[2018-06-19 12:44] #11 closed, assigned to jaidevd

[2018-06-19 12:53] WRAR891 commented on #43
@jaidevd, @hbake001

I agree, that for analytical or complex-valued signals, inst_freq() appears to give a reasonable result. One could compare it to:
1.0 / (2.0 * np.pi) * np.diff(np.unwrap(np.angle(m)))

where m is a mode expressed as the hilbert xform of a real-valued signal.
Note: if the mode itself is complex-valued, one does not need to hilbert-transform it.

[2018-06-21 05:00] JuiceLemonLemon commented on #44
@jaidevd
I have re-installed, but the result is still different from matlab's, the number of imfs is too small, sometimes just one imf component.

[2018-06-21 05:30] jaidevd commented on #44
@Orangeyzao, can you provide an example? Also, which MATLAB package are you using?

[2018-06-21 06:02] JuiceLemonLemon commented on #44
self.nbit = 0
nbit's value should be reseted in "emd.py".

[2018-06-21 06:29] jaidevd commented on #44
Could you elaborate further?
`self.nbit` has nothing to do with the number of IMFs. That variable simply records the number of iterations it takes to reach an IMF. It gets reset after each IMF is extracted.

[2018-06-21 06:48] JuiceLemonLemon commented on #44
"while not(stop_sift) and (self.nbit < self.maxiter):"
if "self.nbit" is not reseted, above while loop will be not executed.

[2018-06-21 07:05] jaidevd commented on #44
That's a serious bug. Thanks for this. Fixing.

[2018-06-23 11:34] jaidevd commented on #44
@Orangeyzao can you please re-install from the dev branch and try again?

[2018-06-25 18:13] WRAR891 commented on #44
@jaidevd

Not sure if this was supposed to fix handling of complex-valued inputs, but I assume not as results on same are still incorrect.

[2018-06-25 18:25] jaidevd commented on #44
@WRAR891 The problem discussed in #42 is not fixed, although I'm not sure if that and this issue are related.

[2018-06-29 05:48] imnotpi opened #47 "preserving the decomposition memory"
Is there any way to preserve the decomposition memory?
For example I have data from Jan 2016 - Feb 2017
the first time I decompose until on Jan 2017
second time  decompose until on feb 2017
But the value on imfs and residual is not the same in the two decomposition given the same number of imfs and the same date

[2018-07-01 07:50] jaidevd commented on #47
Hi @imnotpi
I'm not sure that I fully understand your problem. For each decomposition, timestamps for that step must be maintained independently. Every time you instantiate the `EMD()` object, new timestamps are expected. So, if you run EMD from time `t1` to `t2`, then the resulting IMFs will correspond to `t1` to `t2`. However, when you run another decomposition step from `t2` to `t3`, those time

[2018-07-19 19:13] johndavidmiller opened #48 "emd.py divide by zero & other uncaught exceptions"
in stop_sifting() the line:  "sx = np.abs(envmoy) / amp" sometimes causes a divide by zero error.

also, I notice that right above this line (currently 376) there are some try/except checks for the return values of self.mean_and_amplitude(), but ONLY for two very specific errors.  seems there should be an unconditional "except" too.

what's the right fix here?

-- jdm

[2018-07-19 19:24] johndavidmiller commented on #48
here's the error from anaconda python 3.6:

    pyhht/emd.py:376: RuntimeWarning: divide by zero encountered in true_divide

[2018-07-20 17:46] johndavidmiller commented on #48
to get this to not crash, I wrapped that line with a try/except - after telling Numpy to raise Python errors (otherwise it doesn't).

as I'm not intimately familiar with the code, I just did that (below), which should be reviewed and rewritten to be cleaner, e.g., making it part of the preceding try/except, or even better, clean up the entire function.

Here's my hack of emd.py - again, I just wan

[2018-08-15 11:01] ggrrll opened #49 "suggestion to add reference to pip"
Hi,

thanks for the package -- I just started to use it.

I was thinking that would be useful for a quick start to see the reference to pip-installation in the readme https://pypi.org/project/pyhht/, even if it's a trivial thing for python users (maybe not for others :))

[2018-08-15 13:50] ggrrll opened #50 "unnecessary print in plot ?"
Hi,

is printing this info really needed ?
https://github.com/jaidevd/pyhht/blob/61af178a969730064b257af020f3154b123fc552/pyhht/visualization.py#L80

- it makes it difficult to save the plot for instance ....
- also, is that correct? I am bit confused by `i + 2` ?   isn't `i+1` -- anyway, better to remove I guess

[2018-08-15 16:55] ggrrll opened #51 "more meaningful representation of orthogonality"
Hi,

I was thinking that in roder to provide a more meaningful orthogonality measure it might be useful for instance, to __normalise__ the ortogonality (`io()`) by the N of IMFs combinations of which is computed (you can use for instance [scipy comb](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.comb.html#scipy.special.comb))

what do you think? -- maybe we should ask to a bro

[2018-08-16 03:08] jaidevd commented on #49
Hey @ggrrll

Yes, there should be a reference about pip installation in the README itself, but the version that is currently on pip is outdated. I'm looking forward to releasing a new version soon (i.e, a month :\ ), and then I'll update on pip as well, and add a reference here.

Keeping this issue open until then.

[2018-08-16 03:26] jaidevd commented on #50
Hi @ggrrll ,

Yes, that line is unnecessary, removing it.

When you're making [subplots with matplotlib](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.subplot.html), the signature of the subplots is as follows:
[code]
where `index` starts from 1, unlike usual Python indices. In the loop that plots IMFs, the iteration variable `i` starts from 0. Secondly, when plotting IMFs, the top row is r

[2018-08-16 03:26] #50 closed, assigned to nobody

[2018-08-16 08:01] jaidevd commented on #51
Hi @ggrrll

Orthogonality exists only for a pair of vectors, hence the index of orthogonality is computed by summing up the inner products of *all pairs of IMFs*. So the combinations are always taken two at a time without replacement. So this would amount to simply dividing the IO by 2.

Moreover, the index of orthogonality is not an absolute measure, it is relative - lower values are better. For

[2018-08-16 08:19] ggrrll commented on #49
ok thanks,

so for the time being better to install it  [this way](https://stackoverflow.com/a/15269110/5533078) I guess

[2018-08-16 10:32] ggrrll commented on #51
Hi @jaidevd  thanks for the answer.
The 2nd part help understanding what's going on.

For the 1st part:
as indeed  [`io` is defined](https://pyhht.readthedocs.io/en/latest/apiref/pyhht.html#pyhht.emd.EmpiricalModeDecomposition.io) as a sum over all pairs of vectors, I proposed to normalized over C(N,2), to account for the fact that different signals might have different number of IMFs. In such way

[2018-08-16 11:00] jaidevd commented on #51
Hi,

Even if different signals have different number of IMFs, IO is calculated for only one isolated set of IMFs belonging to the same signal. Taking the example from above, suppose I call the two sets of IMFs as `I1` and `I2`. The first has two IMFs, and second has 4 IMFs. So I should divide `IO(I1)` by `C(2, 2) = 1` and `IO(I2)` by `C(4, 2) = 12`. That would give us values of 0.0005 and 0.013. I

[2018-08-16 11:02] jaidevd commented on #51
We cannot have the index of orthogonality inversely proportional to the number of IMFs, because then, I can simply go on increasing the number of IMFs to make the IO small. Simply adding more IMFs is no guarantee of orthogonality.

[2018-08-16 11:04] jaidevd commented on #49
Yep, I'll notify on this issue when I make a new release. I think I should also start a mailing list.

[2018-08-16 14:01] ggrrll commented on #51
Well, if the [definition given in the doc](https://pyhht.readthedocs.io/en/latest/apiref/pyhht.html#pyhht.emd.EmpiricalModeDecomposition.io) is what is actually being computed, then clearly `io` is already scaling with the N of modes ...that's why I was thinking to introduce a reasonable normalization...  - we   could discuss of course if that's a reasonable one (and indeed, would be nice if this

[2018-08-16 14:56] jaidevd commented on #51
How did you infer this? According to that formula the inner product of the set of IMFs is being divided only by the squared modulus of the original signal.

I'll be more than happy to discuss this with others. Do you have anyone in mind who can help us out?

Thanks,

[2018-08-16 15:19] ggrrll commented on #51
due to the sum over all pairs -- as you also  said in the first comment.
This would be a 'extrinsic' scaling...Now, whether there is an 'intrinsic' scaling of `|| C_{i} C{j} ||` with `i` and   `j`... I have no idea ...

no, unfortunately no idea...I am totally new to this technique
(I also posted a similar question [here in SE-CV](https://stats.stackexchange.com/questions/362359/orthogonality-of-i

[2018-08-16 15:31] jaidevd commented on #51
Summing over pairs simply ensures that C(N, 2) different numbers are being summed to produce the IO. There is no scaling or normalization effect.

Can you access the original paper and see if there's something to this effect?

[2018-08-16 16:21] ggrrll opened #52 "y labels rotation"
Hi,

it would be maybe nice to rotate by 90 degrees the y-labels, to avoid overlaps as the ones shown in the attached screenshot

![screen shot 2018-08-16 at 17 54 45](https://user-images.githubusercontent.com/15370425/44221263-2f3a4080-a181-11e8-94d8-7b0dd3701625.png)

Thanks again for the support.

[2018-08-16 16:24] ggrrll commented on #52
In `/pyhht/pyhht/visualization.py ` I tried `ax.set_ylabel(...,rotation=90)`  and `...rotation='horizontal'`, but the didn't work for me ... :/

[2018-08-16 16:26] jaidevd commented on #52
Hi @ggrrll,

From where is this place generated?

[2018-08-16 17:17] ggrrll commented on #52
you mean plot ? it's generated with `pyhht.plot_imfs`

[2018-08-17 03:12] jaidevd commented on #52
@ggrrll Would it be preferable if the function does no annotation of the plots at all, and returns the axis object(s) for the user to change as required?

[2018-08-17 07:46] ggrrll commented on #52
I find very useful to know what's plotted :), so I would definitely leave the y-labels (better if rotated to avoid that)
IMO what might be helpful in addition  is the passing the  `figsize` arg to matplotlib api.

[2018-08-20 08:45] ggrrll commented on #51
yeah, so that's why IO(N)  'scales' with C(N,2) ;)  (pardon the physicist's language)

I am asking a similar question in 'signal processing' , which seems to be more appropriate community than   'cross-validated' in SE, for this topic

[2018-08-20 08:55] jaidevd commented on #51
Can you share the link, please?

[2018-08-20 09:11] ggrrll commented on #51
sure, sorry I forgot -- [here it is](https://dsp.stackexchange.com/questions/51364/orthogonality-of-intrinsic-mode-functions-after-empirical-mode-decomposition)

[2018-08-21 15:04] ggrrll opened #54 "more detailed ref to paper"
https://github.com/jaidevd/pyhht/blob/b5e15b9fb372dc1a97fa87e9d828c8f2c6597700/pyhht/emd.py#L32

Hi,

sorry, trivial question -- I cannot find the theta1, theta2, alpha pars in the original paper (attached hereby)
Could you point to them?  ( In particular I  was expecting them in section 5...)

Thanks again
[HHT_original.pdf](https://github.com/jaidevd/pyhht/files/2306853/HHT_original.pdf)

[2018-08-21 20:16] jaidevd commented on #54
Hi @ggrrll

Sorry, my bad. Those parameters are from this paper: http://perso.ens-lyon.fr/patrick.flandrin/NSIP03.pdf

I wrote the docstring incorrectly.

Fixed in https://github.com/jaidevd/pyhht/commit/8ab0dd8880f5d19130e044dd9bb596223bd05c8e

[2018-08-21 20:16] #54 closed, assigned to nobody

[2018-08-22 07:19] ggrrll commented on #54
Thanks!

are these changes (with fixes from other issues) automatically updated on pip repo?

[2018-08-22 07:32] jaidevd commented on #54
@ggrrll

No, the package has to be periodically uploaded to PyPI whenever we make a release. There must be an automated way to do this, of course. I'll investigate that sometime. I'm anticipating a stable release around early November.

[2018-08-23 09:44] ggrrll commented on #54
hi,

only now I had time to check the paper... the `ref [4]`  [](https://pyhht.readthedocs.io/en/latest/apiref/pyhht.html#pyhht.emd.EmpiricalModeDecompositionl) is actually to this paper

https://hal-ens-lyon.archives-ouvertes.fr/file/index/docid/137611/filename/manuscript.pdf
where there is also no sign of `theta_1`, `theta_2`, `alpha` ...

I guess you should change the ref in the docs...

[2018-08-23 10:02] jaidevd commented on #54
Arghh.. never write documentation when overworked. Fixed, thanks!

[2018-08-23 15:22] ggrrll opened #55 "computation of full Hilbert spectrum"
Hi,

if I understood correctly at the moment there is only the possibility to get the insta. freq. and not the [whole Hilbert spectrum](https://en.wikipedia.org/wiki/Hilbert_spectrum), right?

are there progress/motivations in that direction?

[2018-08-23 15:26] jaidevd commented on #55
Yes, that is what I'm waiting to finish before I can make a stable release. Any help is appreciated.

[2018-08-23 16:35] ggrrll commented on #55
more specifically where? [in this notebook](https://github.com/jaidevd/pyhht/blob/jd-add-hhs/hhs.ipynb)?

[2018-08-23 16:42] jaidevd commented on #55
Yes. Except it needs to be optimized, tested for correctness and documented.

[2018-12-17 03:16] atilileri commented on #43
Hi everyone,
I am also trying to get instant frequencies from my signal, I tried using hilbert() to convert my signal to analytic one but, I believe I am missing something, somewhere. My result looks like below:
![image](https://user-images.githubusercontent.com/4019177/50064581-fcea2f80-01c2-11e9-8f3d-ac1c167a32df.png)
And below is my codepiece:
https://github.com/atilileri/Thesis01/blob/master/i

[2018-12-18 12:05] jaidevd commented on #43
Hi @atilileri

I looked at your code, and it appears that you're reading an audio file and converting the waveforms into an analytic signal using `scipy.signal.hilbert`. However, please note that the analyticity of the signal alone does not guarantee well behaved instantaneous frequency. For that to happen, two conditions must be met:
1. Signal must be an IMF
2. Signal should be analytic.

In your

[2018-12-26 08:40] huangzhaor opened #57 "EEMD algorithm"
Excuse me, does pyhht package  include the EEMD algorithm？

[2018-12-27 04:40] jaidevd commented on #57
Sorry, not yet.

[2019-01-03 22:39] atilileri commented on #43
Hi again,

As you said; I extracted imfs from the original signal and then applied `hilbert()`, got better results. Adding a sample screenshot for reference. Hope it helps some more googlers like me :). Thanks for the help again @jaidevd
![image](https://user-images.githubusercontent.com/4019177/50665296-1cee6100-0fc1-11e9-9df1-d8262febf589.png)
And below is my codepiece again:
https://github.com/

[2019-01-22 23:51] dieterjansen opened #59 "Clarification of boundary_conditions() example"
Thank you for your work on pyhht.

I have been working with the code and do not understand some results I am seeing.

When working through the boundary_conditions() example I got:

[code]

Which agrees with your example.

I would have thought that tmin should be [-2, 0, 2, 4, 6] and vmin should be [-1, -1, -1, -1, -1] - am I misunderstanding?

[2019-03-08 16:11] BlockWaving opened #60 "EMD not stable while data rolling on"
Hi, I am testing pyhht to do rolling emd decomposition to de-trend time series. however, I find there are two issues,  1) with rolling test progress on, sometimes the residual emd's shape completely changed, and sometime later it could revert back to earlier one, this makes the de-trended data not stable and thus not usable.  2) with test rolling on, sometimes the number of imfs increase, sometime

[2019-04-24 13:20] brioglade opened #61 "marginal spectrum and energy spectrum"
no marginal spectrum energy spectrum examples tutorial

[2019-05-02 04:51] jaidevd commented on #61
Thanks, @brioglade - I'll add some examples on this.

[2019-05-02 04:53] jaidevd commented on #60
Hi @BlockWaving

Sorry for picking this up so late. Can you help me understand what rolling EMD is? Also, can you please share some instructions so that I can reproduce this issue?

Thanks a lot,

[2019-05-02 09:58] jaidevd commented on #59
Hi @dieterjansen

I'm sorry I couldn't look at this all this time, and thanks for pointing this out. Indeed, this does not make sense. I'll try to find out why I wrote that example, and see how we can fix it.

[2019-05-02 10:02] dieterjansen commented on #59
Thanks Jaidev – that would be great.

I’m sorry I didn’t have the skills to suggest a resolution.

Cheers, Dieter.

From: Jaidev Deshpande
Sent: Thursday, May 2, 2019 7:28 PM
To: jaidevd/pyhht
Cc: dieterjansen ; Mention
Subject: Re: [jaidevd/pyhht] Clarification of boundary_conditions() example (#59)

Hi @dieterjansen

I'm sorry I couldn't look at this all this time, and thanks for pointing this o

[2019-05-03 10:21] brioglade commented on #61
Nice.Thank you @jaidevd
I wish some day I have the capcity to add it.

[2019-05-07 02:12] wenshijie opened #62 "According to which article"
sx = np.abs(envmoy) / amp
            stop = not(((np.mean(sx > self.threshold_1) > self.alpha) or
                        np.any(sx > self.threshold_2)) and np.all(nem > 2))
Which paper did this stop rule come from？

thanks！

[2019-05-17 03:16] DuanHaiyang525 commented on #61
Thank you, I am waiting for your marginal spectrum code. (Better 3D time-frequency-spectrum). Thank you very much.

[2019-05-17 03:24] DuanHaiyang525 commented on #43
Hi,
Why could not I find the method about instantaneous frequencies?

[2019-06-02 14:05] #62 closed, assigned to nobody

[2019-07-20 08:46] Yuch969 opened #63 "I got some negative instantaneous frequencies"
I have a negative value when calculating the instantaneous frequency of imf, and of course I have similar results when using matlab. After checking the data of imf, no negative maxima or positive minima were found. Is this normal? How do I deal with those negative values?
![29b5adbbdadcbb8fd1eba06925714ef](https://user-images.githubusercontent.com/53111919/61576527-c0423600-ab0d-11e9-9c4d-3bfb0517

[2019-12-15 07:26] monster-xie opened #64 "why this pyhht.emd diffrent with matlab 2018a emd result!"
from pyhht.emd import EMD
decomposer = EMD(data[0])
imf = decomposer.decompose()

matlab code is :
emd(data(1,:))

[2019-12-15 08:16] jaidevd commented on #64
Hi @monster-xie

Can you share more details? What is the ideal output you are expecting, and what is the output you are getting?

Thanks,

[2019-12-15 08:24] monster-xie commented on #64
the raw data is :
![image](https://user-images.githubusercontent.com/5821515/70860007-ec47d300-1f56-11ea-9c09-429b4ba27917.png)

and use pyhht.emd imf data is :
![image](https://user-images.githubusercontent.com/5821515/70860018-19948100-1f57-11ea-83ae-86bf6ee27ca0.png)

the matlab imf data is :
![image](https://user-images.githubusercontent.com/5821515/70860037-5b252c00-1f57-11ea-8e1e-7a2b51c3cc3

[2019-12-15 08:37] jaidevd commented on #64
Thanks, @monster-xie

We cannot guarantee exact numerical reproduction of the data, since this package is not a line by line reproduction of the MATLAB package. Can you plot the IMFs in the two implementations and compare them?

[2019-12-15 09:17] monster-xie commented on #64
thanks, @jaidevd
I just want to know ,this pyhht.emd is correct implemention the emd algorithm?

[2019-12-15 13:39] jaidevd commented on #64
Yes.

[2019-12-15 13:39] #64 closed, assigned to nobody

[2020-03-25 02:44] byby221b commented on #63
I got the similar result and are also curious about the answer.

[2021-01-11 02:32] jaidevd commented on #63
Hello, @Yuch969

Apologies for the huge delay in responding. Can you share some sample data - maybe a slice of the dataset you are using so I can reproduce this?

[2021-01-11 02:34] jaidevd commented on #52
Currently, the best way to resolve this is to make all plotting functions including `plot_imfs` return the underlying axis object, which users can modify as required.

[2021-01-11 02:36] jaidevd commented on #51
Closing for lack of activity.

[2021-01-11 02:36] #51 closed, assigned to nobody

[2021-01-11 02:37] jaidevd commented on #49
This will be fixed in the v0.2 release - targeted for end of February.

[2021-01-11 02:39] jaidevd commented on #47
Closing for lack of activity.

[2021-01-11 02:39] #47 closed, assigned to nobody

[2021-01-11 02:40] jaidevd commented on #42
Apologies for the delay on this. This will be fixed in the v0.2 release, targeted for end of February 2021.

[2021-01-11 02:40] #42 closed, assigned to jaidevd

[2021-01-11 02:42] #43 closed, assigned to nobody

[2021-01-11 02:43] jaidevd commented on #41
Apologies for the delay on this, @maciekKolbusz

In the v0.2 release of PyHTT, we will allow users to choose their own interpolation method, the default being cubic splines.

[2021-06-22 19:09] johndavidmiller opened #65 "Docs do not build with Sphinx 4.0.2"
I'm trying to build the docs and it throws this error.  I think it must be a version thing, i.e., the `add_javascript` method probably went away with Sphinx v4.x

[code]

And the log file shows this:

[code]

[2021-06-27 07:10] jaidevd commented on #65
Thanks for pointing this out, @johndavidmiller

This is a result of not updating sphinx builds for a while. I'll see what I can do.

[2021-06-27 23:05] johndavidmiller commented on #65
I just down-rev’d sphinx and it went w/o errors.

So no rush from my need

-- jdm

[2021-06-28 07:08] jaidevd commented on #65
@johndavidmiller

This should now work with Sphinx 4.0.2. You only have to update the dependencies. Specifically, do

[code]

And then the standard sphinx build should work from the latest `dev` branch.

Thanks, do let me know if there's a problem.

[2021-06-28 07:08] #65 closed, assigned to nobody

[2021-06-28 16:53] johndavidmiller commented on #65
Thanks!

-- jdm

[2022-10-20 03:11] Learning-22-Code opened #67 "problem with tutorials"
Thanks for your effort in making such a package, it's the most popular package I found on GitHub implementing HHT. But I got some problems with tutorials, the file intro_pyhht.rst only has the title, but the content is missing. Maybe you can help fix it? Thanks a million!